:root {
    --color-black: #0C0C0C;
}
.form-outline input:focus + label {
    opacity: 0;
}
.form-outline input:valid + label {
    /*opacity: 0;*/
}
.form-outline input:active + label {
    opacity: 0;
}
input::placeholder {
    opacity: 0;
}

input:not(:placeholder-shown) ~ label {
    /*display: none;*/
}
